---
layout: base.njk
title: Archive
permalink: /archive/
---

<div class="prose dark:prose-invert lg:prose-xl mx-auto">
    <h1>Archive</h1>

    {% set postslist = collections.archive %}
    {% if postslist.length %}
        <ul>
            {%- for post in postslist | reverse -%}
                <li>
                    <a href="{{ post.url }}">{{ post.data.title }}</a>
                    <span class="text-sm text-gray-500">
                        {{ post.date | dateFilter }}
                    </span>
                </li>
            {%- endfor -%}
        </ul>
    {% else %}
        <p>No posts yet.</p>
    {% endif %}
</div>