---
layout: standalone.njk
title: Contact
---

<div class="space-y-6 text-gray-600 dark:text-gray-400">
    <p>It's too not difficult to figure out how to reach me.</p>

    <p>For professional inquiries, reach out using the contact form on the <a href="https://prodyssey.com/contact">Prodyssey website</a> or on <a href="https://linkedin.com/in/craigsturgis">LinkedIn</a>.</p>

    <p>If you're not interested in my work and still want to reach out, you can send me an email to my first name at this domain or send me a dm on instagram or something.</p>

</div>