---
layout: layouts/base.njk
title: Home
---

<div class="prose dark:prose-invert lg:prose-xl mx-auto">
    <h1>Craig Sturgis</h1>

    <section class="my-8">
        <h2>Experience</h2>
        <!-- Add your experience here -->
    </section>
</div>